<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container-fluid">
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-4"><%= title %></h1>
          <p class="lead">Welcome to <%= title %></p>
          <nav class="nav flex-column">
            <a class="nav-link active" href="/">Find chords</a>
            <a class="nav-link" href="#">Link</a>
            <a class="nav-link" href="#">Link</a>
            <a class="nav-link" href="#">Link</a>
          </nav>
        </div>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select chord
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/getChord/A">A</a>
            <a class="dropdown-item" href="/getChord/B">B</a>
            <a class="dropdown-item" href="/getChord/C">C</a>
            <a class="dropdown-item" href="/getChord/D">D</a>
            <a class="dropdown-item" href="/getChord/E">E</a>
            <a class="dropdown-item" href="/getChord/F">F</a>
            <a class="dropdown-item" href="/getChord/G">G</a>
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-2">
        <% if (chords.length) {
          %>
          <% chords.forEach((chord) => {
            %>
        <div class="col mb-4">
          <div class="card">
              <img src='/images/chords/<%= chord.chordName.replace(/[, ]+/g, "").trim() %>.png' onerror="this.onerror=null; this.src='/images/chords/NoImage.png'" class="card-img-top" width=50% alt='<%= chord.chordName.replace(/[, ]+/g, "").trim() %>'>
            <div class="card-body">
              <h5 class="card-title">
                Chord Name: <%= chord.chordName.replace(/[, ]+/g, "").trim() %>
              </h5>
              <ul>
                <li>Strings: <%= chord.strings %></li>
                <li>Fingering: <%= chord.fingering %></li>
                <li>Tones: <%= chord.tones %></li>
              </ul>
            </div>
          </div>
        </div>
          <%
        }) %>
      </div>
        <%
      } %>
    </div>
  </body>
</html>
